name: 'Build and Push Vue App to Docker Hub'

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'tests/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    - name: Build Vue project
      run: npm run build

    - name: Archive dist folder
      uses: actions/upload-artifact@v2
      with:
        name: dist
        path: dist
    - name: Ls and Pwd
      run: ls -alh && pwd

  docker:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Download dist folder
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: .
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Ls and Pwd
        run: ls -alh && pwd
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile  # Assuming Dockerfile is in the root directory
          push: true
          tags: admgo/${{ secrets.DOCKERHUB_REPOSITORY }}:latest

      - name: Show image digest
        run: echo ${{ steps.docker_build.outputs.digest }}